html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    color: #24292e;
    background: #dadada;
    font-family: "Sawarabi Mincho", serif;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    font-size: 1.2rem;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
    scroll-margin-top: 140px;
}

.site-title {
    line-height: 1px;
    font-weight: 600;
    font-size: 2.4rem;
    font-family:"MS Pゴシック",sans-serif;

}

.site-title a {
    color: #24292e;
    display: block;
}

.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

.sp {
    display: none;
}

.pc {
    display: block;
}

/* header */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
    height: 140px;
    background: rgba(218, 218, 218, 0.9);
    z-index: 1000;
}
#header ul {
    display: flex;
    padding: 10px 0;
    align-items: center;
}
#header ul li {
    font-size: 0.9rem;
    margin-left: 30px;
}
#header ul li a {
    color: #24292e;
    transition: all 0.3s;
}
#header ul li a:hover {
    opacity: 0.5;
}
#header li img.icon {
    width: 30px;
}

/* main */
#main {
    position: relative;
    margin-top: 140px;
    margin-bottom: 80px;
    height: 500px;
}
#main img {
    position: absolute;
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0;
    animation: fadeSlideshow 10s infinite;
}
#main img:nth-child(1) {
    animation-delay: 0s;
}
#main img:nth-child(2) {
    animation-delay: 5s;
}
@keyframes fadeSlideshow {
    0%, 60%, 100% {
        opacity: 0;
    }
    10%, 50% {
        opacity: 1;
    }
}

/* about */
#about ul {
    margin-bottom: 30px;
}
#about ul li:first-child {
    margin-bottom: 30px;
}
#about p {
    margin-bottom: 30px;
}
#about iframe {
    display: block;
    margin: 0 auto;
    width: 85%;
    aspect-ratio: 2/1;
}

/* gallery */
#gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#gallery ul li {
    width: 31%;
}
#gallery ul li img {
    display: block;
}
#gallery ul li:nth-child(7) {
    width: 93%;
}

/* brand */
#brand ul {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
}
#brand ul li {
    width: 20%;
    margin: 0 10px 30px 10px;
}
#brand ul li img {
    transition: transform 0.2s;
}
#brand ul li img:hover {
    transform: scale(1.05);
}
#brand ul li p {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    line-height: 1.5;
}
#brand ul li a {
    display: block;
    text-align: center;
    color: #007bff;
    font-size: 0.9rem;
}
#brand ul li a:hover {
    text-decoration: underline;
}

/* project */
#project ul {
    border-top:2px solid #c8c8c8;
}
#project ul li {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom:2px solid #c8c8c8;
}
#project ul li img {
    width: 40%;
    margin-right: 20px;
}
#project ul li p {
    font-size: 1.0rem;
}
#project ul li p span {
    font-weight: bold;
}

/* information */
#information dl {
    display: flex;
    flex-wrap: wrap;
    border-top:1px solid #c8c8c8;
    margin-bottom: 20px;
}

#information dt {
    width: 20%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;
}

#information dd {
    width: 80%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;
}

/* footer */
#footer {
    background-color: #a8a8a8;
    font-family: "Sawarabi Gothic", serif;
}
.footer-content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 40px 50px 40px 50px;
    justify-content: center;
}

.footer-logo {
    margin-right: 20px;
    
}
.footer-logo img {
    max-width: 150px;
}

.footer-address {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
    padding-left: 20px;
    border-left: 1px solid #555;
}
.footer-address dt {
    width: 15%;
}
.footer-address dd {
    width: 85%;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.footer-links img {
    max-width: 40px;
    border-radius: 8px;
    transition: transform 0.2s, opacity 0.2s;
}
.footer-links img:hover {
    transform: scale(1.05);
    opacity: 0.6;
}

.footer-copyright {
    font-size: 0.7rem;
    color: #ffffff;
    background-color: #4a4a4a;
    text-align: center;
    display: block;
    padding: 30px 30px;
    width: 100%;
}

/* page top button */
#page-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    aspect-ratio: 1/1;
    background-color: #888;
    border-radius: 50%;
    cursor: pointer;
    z-index: 300;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    opacity: 0;
    visibility: hidden;
}
#page-top:hover {
    transform: scale(1.05);
}
#page-top a {
    height: 15px;
    width: 15px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    transform: translateY(20%) rotate(-45deg);
}
#page-top.visible {
    opacity: 1;
    visibility: visible;
}

/* sp */
@media screen and (max-width: 768px) {
    .site-title {
        margin-top: 20px;
    }

    .sp {
        display: block;
    }
    
    .pc {
        display: none;
    }
    
    /* header */
    #header {
        flex-direction: column;
        height: 100px;
        line-height: 40px;
    }
    #header ul li a:hover {
        opacity: 1;
    }

    #gnav-btn {
        position: absolute;
        display: flex;
        top: 50%;
        right: 10px;
        height: 60px;
        width: 60px;
        transform: translateY(-50%);
        justify-content: center;
        align-items: center;
        z-index: 300;
    }

    #gnav-btn span,
    #gnav-btn span:before,
    #gnav-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #24292e;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }
    #gnav-btn span:before {
        bottom: 8px;
    }
    #gnav-btn span:after {
        top: 8px;
    }

    #gnav-input:checked ~ #gnav-btn span {
        background-color: rgba(255, 255, 255, 0);
    }
    #gnav-input:checked ~ #gnav-btn span:before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #gnav-input:checked ~ #gnav-btn span:after {
        top: 0;
        transform: rotate(-45deg);
    }
    #gnav-input:checked ~ #gnav-content {
        transform: translateX(0);
        box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5);
    }
    #gnav-input:checked ~ #gnav-overlay {
        opacity: 1;
        pointer-events: auto;
    }

    #gnav-input {
        display: none;
    }

    #gnav-content {
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 500;
        width: 100%;
        height: auto;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.6);
        transition: 0.3s ease-in-out;
        transform: translateX(105%);
    }
    #gnav-content ul {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    #gnav-content ul li {
        margin-left: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 10px 15px;
        width: 100%;
    }
    #gnav-content ul li a {
        color: #dadada;
        font-size: 1.2rem;
        display: block;
        padding: 10px;
    }
    #gnav-content ul li:last-child {
        border-bottom: none;
    }
    #gnav-content ul li a::before {
        content: "▶"; /* アイコンを追加 */
        margin-right: 10px;
        display: inline-block; /* インライン要素として扱う */
        transition: transform 0.3s ease, color 0.3s ease; /* ホバー時の変化用 */
    }
    #gnav-content ul li a:hover::before {
        transform: translateX(30%);
        color: #ffa500; /* アイコンの色も変化 */
    }

    #gnav-overlay {
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 400;
        opacity: 0;
        pointer-events: none; /* 非表示時にクリック不可にする */
        transition: opacity 0.5s ease; /* アニメーション設定 */
    }

    /* main */
    #main {
        margin-top: 100px;
    }
    
    #main img {
    }
    
    /* gallery */
    #gallery ul li {
        width: 48%;
    }
    
    /* brand */
    #brand ul li {
        width: 40%;
        margin: 0 15px 30px 15px;
    }
    #brand ul li p {
        font-size: 1rem;
    }
    #gallery ul li:nth-child(7) {
        width: 96%;
    }

    /* project */
    #project ul {
        border-top: none;
    }
    #project ul li {
        display: block;
        border-bottom: none;
    }
    #project ul li img {
        width: 100%;
    }
    #project ul li p {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* information */
    #information dl {
        flex-direction: column;
    }
    
    #information dt {
        width: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }
    
    #information dd {
        width: 100%;
        padding-top: 0;
    }
    
    /* footer */
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .footer-logo {
        margin-bottom: 20px; /* 下に間隔を追加 */
    }
    .footer-address {
        flex-direction: column;
        border-left: none;
        border-top:1px solid #888;
        padding-left: 0;
    }
    .footer-address dt {
        width: 100%;
    }
    .footer-address dd {
        width: 100%;
        padding-bottom: 5px;
        border-bottom:1px solid #888;
    }
    .footer-links {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        width: 100%;
    }
}
